# Generated binary files and scripts.
bin/
doc/
atomics/

# Generated packages.
deploy/linux/*.deb
deploy/windows/*.exe

# Generated objects.
*.o
moc_*
qrc_*
*.pdf
src/pdme_v2/obj/
src/pdme_v2/ui/
*.stash
src/pdae/Makefile
src/pdif/Makefile
src/pdme_v2/Makefile
src/pdppt/Makefile
