[Desktop Entry]
Comment=PowerDEVS is a general purpose software tool for DEVS modeling and simulation oriented to the simulation of hybrid systems
Exec=gksudo -k /opt/powerdevs/bin/run.sh
Icon=/opt/powerdevs/bin/pd.png
Name[en_US]=PowerDEVS (with root privileges)
Name=PowerDEVS (with root privileges)
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;Science;Math;Development;Physics;
X-KDE-SubstituteUID=false
X-Ubuntu-Gettext-Domain=desktop_kdebase
